---
import timeFormat from "../scripts/timeFormat";

type Props = {
  post: {
    id: string;
    data: {
      title: string;
      tags: string[];
      description: string;
      date: Date;
    };
  };
};
const post = Astro.props.post;
---

<a href={`/blogs/${post.id}`} class="block w-full">
  <article
    class="flex flex-col gap-2 p-2 rounded-lg bg-stone-200 dark:bg-stone-800 hover:bg-stone-100 dark:hover:bg-stone-700 transition duration-100"
  >
    <div class="text-2xl">{post.data.title}</div>
    <div class="flex gap-2 flex-wrap text-nowrap">
      <div class="flex gap-2 flex-wrap text-nowrap">
        {
          post.data.tags.map((tag) => (
            <div class="px-2 rounded-md bg-sky-300/60 dark:bg-sky-800/60">
              {tag}
            </div>
          ))
        }
      </div>
      <time datetime={post.data.date.toISOString()}>
        {timeFormat(post.data.date)}
      </time>
    </div>
    <p>{post.data.description}</p>
  </article>
</a>
