---
type Props = {
  post: {
    id: string;
    data: {
      title: string;
      tags: string[];
      description: string;
      date: Date;
    };
  };
};
const post = Astro.props.post;
const weekdayMap = ["周日", "周一", "周二", "周三", "周四", "周五", "周六"];
---

<a href={`/blogs/${post.id}`} class="block w-full">
  <article
    class="flex flex-col gap-2 p-2 rounded-lg bg-stone-200 dark:bg-stone-800 hover:bg-stone-100 dark:hover:bg-stone-700 transition duration-100"
  >
    <div class="text-3xl">{post.data.title}</div>
    <div class="flex gap-2 flex-wrap text-nowrap">
      <div class="flex gap-2 flex-wrap text-nowrap">
        {
          post.data.tags.map((tag) => (
            <div class="px-2 rounded-md bg-sky-300 dark:bg-sky-800">{tag}</div>
          ))
        }
      </div>
      <time datetime={post.data.date.toISOString()}>
        {post.data.date.getFullYear()}/{post.data.date.getMonth() + 1}/{
          post.data.date.getDate()
        }
        {weekdayMap[post.data.date.getDay()]}
      </time>
    </div>
    <p>{post.data.description}</p>
  </article>
</a>
