---
import {
  getCollection,
  render,
  type InferEntrySchema,
  type RenderedContent,
} from "astro:content";
import Base from "../../layouts/Base.astro";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection("blogs");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
// 2. For your template, you can get the entry directly from the prop
interface Props {
  post: {
    id: string;
    body?: string;
    collection: "blogs";
    data: InferEntrySchema<"blogs">;
    rendered?: RenderedContent;
    filePath?: string;
  };
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<Base
  title={post.data.title}
  description={post.data.description}
  keywords={post.data.tags}
>
  <header class="mt-2 mx-auto sticky top-2 px-8 max-w-[88rem] z-50">
    <div class="flex bg-stone-200 dark:bg-stone-700 p-2 rounded-full">
      <a
        href="/"
        class="px-2 rounded-full hover:bg-stone-100 dark:hover:bg-stone-600 transition duration-100"
        >Pizero</a
      >
    </div>
  </header>
  <main class="md px-8 py-4 max-w-[88rem] mx-auto">
    <h1 id={post.data.title}>{post.data.title}</h1>
    <div></div>
    <Content />
  </main>
</Base>
